@import url('https://fonts.googleapis.com/css?family=Didact+Gothic|Fugaz+One|Patua+One|Paytone+One');
/*
font-family: 'Patua One', cursive;
font-family: 'Didact Gothic', sans-serif;
font-family: 'Fugaz One', cursive;
font-family: 'Paytone One', sans-serif;
*/
* {
     padding: 0px;
     margin: 0px;
font-family: 'Fugaz One', cursive;
color: black;
color: white;
 }
#Antwoord{
    
    display: block;
    margin-top:50px;
    font-variant: small-caps;
    width: 70%;
    position: absolute;
   justify-content: center;
    left: 15%;
    right:15%;
    text-align: center;
    top: -500px
   
}

#flexContainer{
    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background-size: cover;

}

#flexContainer div{
    display: flex;
    justify-content: center;
    align-items: center;
}
#whatToDo{
    font-size: 3em;
}
#txt{
    font-size: 10em;
    font-family: 'Paytone One', sans-serif;

}
#watDoen{
    background-color: transparent;
    border: 3px solid white;
    border-radius: 55px;
    padding:30px;
    font-size: 1.4em;
    color:white;
    
}
#watDoen:hover{
   background-color: white;
    color: black;
    
}
#watDoen:active{
   background-color: transparent;
    color: black;
    
}
@media only screen and (max-width: 600px) {
#txt{
    font-size: 3em;
}
#whatToDo{
    font-size: 2em;
}
#watDoen{
    font-size:1em; 
    padding:20px;
}

#Antwoord{
    font-size: 1em;
width:80%;
margin-top: -100px;
margin-right: 5%}
}
@media screen and (min-width: 601px) and (max-width: 1000px) {
#txt{
    font-size: 8em;
}
#whatToDo{
    font-size: 4em;
}
#watDoen{
    font-size:1em; 
    padding:20px;
}

#Antwoord{
    font-size: 2em;
    width:80%;
    margin-top: -22px;
    margin-right: 5%;
    }
}
@media only screen and (min-width: 1000px) {
#txt{
    font-size: 10em;
}
#whatToDo{
    font-size: 3em;
}
#watDoen{
    font-size: 1.4em;
    padding:30px;
}

#Antwoord{
    font-size:2em;
width:70%;
margin-right: 15%}

}

