 @import url('https://fonts.googleapis.com/css?family=Roboto+Mono');
 * {
     font-family: 'Roboto Mono', monospace;
     padding: 0px;
     margin: 0px;
 }
#Antwoord{
    display: block;
    margin-top:50px;
    color: white;
    font-variant: small-caps;
    font-size: 2em;
   
}

#flexContainer{
    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100vh;

}

#flexContainer div{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
#whatToDo{
    font-size: 2em;
}
#txt{
    font-size: 10em;
}
#watDoen{
    background-color: transparent;
    border: 3px solid white;
    padding:30px;
    font-size: 2em;
    color:white;
    
}
#watDoen:hover{
   background-color: white;
    color: black;
    
}
#watDoen:active{
   background-color: transparent;
    color: black;
    
}
